* {
    margin: 0;
    padding: 0;
}

.header-tittle-brand {
    font-family: 'Bebas Neue', cursive;
    color: #666666; 
    width: auto; 
}

.header-tittle-brand span {
    color: #e15361;
}

.navbar-brand {
    margin: 0.5rem;
}

.navbar-brand span {
    color:#e15361;
    font-family: 'Bebas Neue', cursive;
}

.custom-focus:focus {
    outline: none; 
    border:1px solid #e04747; 
    box-shadow: 0 0 10px #d14b4b;
}

.btn {
    background-color: #666666;
}

.text-header {
    padding-top: 1rem;
}
